.App {
  font-family: sans-serif;
}

.header{
  font-size: 22px;
  background: #222;
  color: white;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
