@import 'layout';

.App {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $secondColor;
 }

.header{
  font-size: 22px;
  background-color: $bgColor;
  color: $secondLetterColor;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
